@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Soccer Manager le ayudara a hacer su vida mas facil con un gestor de torneos<a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
